<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
    {{>header}}
    <div class="main_content">
        <p>
            I created this when i was studying node.
        </p>
        <img src="img/img.jpg" class="potrait" />
    </div>
    {{>footer}}

</body>

</html>