<!DOCTYPE html>
<html>

<head>
    <title>404</title>
    <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
    {{>header}}
    <div class="main_content">
        {{msg}}
    </div>
    {{>footer}}

</body>

</html>