<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
    {{>header}}
    <div class="main_content">
        Help
    </div>
    {{>footer}}
</body>

</html>